*{
    margin: 0;
    padding: 0;
}
body{
    background: #f4f4f4;
    height: 100%;
}

img{
    width:70%;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
    padding: 15px 0;
}
.card{
    width: 18vw;
    height: 35vh;
    background: #f4f4f4;
    border-radius: 20px;
    border: 1px solid grey;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.card p{
    text-align: center;
    margin-top: 2vh;
    font: caption;
    font-weight: bold;
}
h1{
    text-align: center;
    padding: 4vh 0;
    font: caption;
    font-weight: bold;
    font-size: 26px;
}
.bottom{
    text-align: center;
    padding-top: 2vh;
    font: caption;
    font-weight: bold;
    font-size: 14px;
}
hr{
    margin: 0 4vh;
}